body {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0 auto;
    border: 1px solid white; 
    padding: 30px 75px;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    justify-content: center;
}

.footer {
    
    margin: 0 ;
    border: 1px solid #bed; 
    padding: 30px 75px;
    background-color: #bed;
    display: flex;
    grid-template-columns: 100px 1fr;
    align-items:flex-end;
    justify-content: center;
}

.body-images {
    width: 900px;
    height:auto;
    border: 2px ridge;
    padding: 10px;
    box-shadow: 5px 3px 3px rebeccapurple;
}

.body-images:hover {
    border: 5px solid rebeccapurple;
}

.text {
    line-height: normal;
    list-style: none;
}

.nav {
    background-color: white; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    
  }
.nav li a {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    
   
}
.nav li a:hover {
    background-color: rgb(201, 193, 152);

}

main {
    margin: 1rem auto;
    background-color: rgb(244, 252, 249);
    padding: 1rem;
}

h3 {
    color: rgb(23, 34, 23);
    font-size: 2.5rem;
    text-align: center;
    font-family: Georgia, serif;
}

.social {
    display: inline-block;
    padding: 20px;
    margin: 1px;
}
/* Class Selectors */
.page {
    width: 960px;
    margin: 0 auto;
}