body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
   
    margin: 0 auto;
    border: 1px solid #bbbbbb; 
    padding: 30px 75px;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    justify-content: center;
}

footer {
    
    margin: 0 ;
    border: 1px solid #bbbbbb; 
    padding: 30px 75px;
    background-color: #eeeeee;
    display: inline-block;
    grid-template-columns: 100px 1fr;
    align-items: center;
    justify-content: center;
}
.nav {
    background-color: #eeeeee; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }


main {
    margin: 1rem auto;
    background-color: #bed;
    padding: 1rem;
}

h3 {
    color: rgb(20, 168, 14);
    font-size: 2.0rem;
    text-align: center;
}

/* Class Selectors */
.page {
    width: 960px;
    margin: 0 auto;
}