@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

* {
    box-sizing: content-box;
    padding: 0;   
    margin: 0;
    background-color: #d1734e;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #071318;
    text-decoration: none;

}

.logo {
    cursor: pointer;
    margin-right: auto;
}

header {

    display: flex;
    align-items: center;
    justify-items: flex-end;
    padding: 30px 10%;

}

.image {
    width: 100px;
  
}

.image1{
    width: 100%;
    border-radius: 70%;
    margin: 0;
}

.para {
    padding: 15px;
    margin: 2px;
    color: #e5e7e9;
}


.mainpage {
    display: grid;
    width: 960px;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: 150px;
}


body {
    display: grid;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: rgb(202, 201, 185);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.header2 {
    position: absolute;
    top: 199px;
    left: 500px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight:700;
    color: rgb(250, 250, 250);

}

.section1 {
    display: flex;
    padding: 10px;

}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    margin: 10px;
    column-gap: 9px;
}
  


h2 {
    background-color: #b9b3a7;
    border: 1px solid rgb(29, 25, 25);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-decoration:solid; 
    text-shadow: #0088a9;
}


footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



/*Contact Us*/
html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

h1 {
    margin: 0 0 20px;
    font-weight: 400;
    color: #0e91e2;
}

p {
    margin: 0 0 5px;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #6394b3;
}

form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #0a0606;
    background: #eee6e6;
}



input,
textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}

input::placeholder {
    color: #666;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: rgb(54, 30, 30);
}

button:hover {
    background: #e5e7e9;
}

@media (min-width: 568px) {
    .main-block {
        flex-direction: row;
    }
}